.block
{
    width: 100px;
    height: 100px;
    outline: rgb(230,230,230) solid;
    float: left;
    text-align: center;
    font-size: 2em;
}
.rightblock {
    height: 200px;
    width: 200px;
    outline: solid  #f19a1d;
    float: right;
    margin: 25px;
}

.bottomblock {
    height: 50px;
    width: auto;
    background-color: rgb(200,200,200);
}

.red {
    background-color: rgb(255,180,180);
    outline: solid rgb(200,0,0);
}

.green {
    background-color: rgb(180,255,180);
    outline: solid rgb(0,200,0);
}

.blue {
    background-color: rgb(180,180,255);
    outline: solid rgb(0,0,200);
}

.yellow {
    background-color:  rgb(255,255,100);
}

#bottom {
    clear: both;
    width: auto;
}