body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
    background-color: #eaeadf;
}

.navbar
{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
    padding: 2rem;

}

.navbar a
{
    font-weight: 500;
    font-size: 18px;
    font-family: din-condensed-web;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: #323d4e;

}

.navbar li:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.8s ease;
    opacity: 0.5;

}


#homebutton
{
    max-height: 100px;
    height: 90%;
    padding: 8px;
}

#homebutton:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1.2s ease;
}

#slideshow
{
    display: flex;
    justify-content: center;
    animation: slide 15s infinite;

}

#logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slideshow img {
    height: 80vh;
}
/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-25%);

    }
    50%{
        transform: translateX(-50%);
    }

    75%{
        transform: translateX(-25%);
    }

    100%{
        transform: translateX(0);
    }
}

.paragraph {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.paragraph_side {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5vh 5vw;
}

.paragraph img {
    max-height: 350px;
    margin: 5vh 5vw;
}

article {
    max-width: 700px;
    font-weight: 500;
    font-size: 18px;
    font-family: din-condensed-web;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 1.5em;
    color: #323d4e;
}

button {
    background-color: #b1353c;
    font-size: 26px;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px 28px;
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1.2s ease;
    cursor: pointer;
}

#IGsection{
    background-color: #d2d2ca;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

#IGsection img:hover {

    transition: 0.8s ease;
    box-shadow: 0px 0px 2px 2px black;
    opacity: 0.6;
}
 footer {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 #footerTop {
     margin: 5% 20% 5%;
 }

 #footerBottom {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
 }

 #footerBottom div {
     padding: 8px 8px 8px;
 }
